@page
@model TwiceTasks.Areas.Identity.Pages.Account.Manage.DownloadPersonalDataModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Descargar datos";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="tt-form-section-title">Preparando descarga…</div>
<div class="tt-form-section-sub">Si ves este mensaje, vuelve atrás e intenta de nuevo.</div>
