@model string

@if (!string.IsNullOrEmpty(Model))
{
    var statusMessageClass = "alert-success";
    if (Model.StartsWith("Error", StringComparison.OrdinalIgnoreCase))
    {
        statusMessageClass = "alert-danger";
    }

    <div class="alert @statusMessageClass alert-dismissible fade show" role="alert">
        @Model
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
